<main>
  <section class="banners">
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
    <div>
      <img src="https://picsum.photos/200" alt="items" />
    </div>
  </section>
  <section class="product-area">
    <app-product-list [products]="items"></app-product-list>
  </section>
</main>
